BASIC_Anniversary/bin/Debug/BASIC_Anniversary.XML
BASIC_Anniversary/bin/Debug/BASIC_Anniversary.dll
BASIC_Anniversary/bin/Debug/BASIC_Anniversary.pdb
BASIC_Anniversary/bin/Debug/FSharp.Core.dll
BASIC_Anniversary/bin/Debug/FSharp.Core.xml
BASIC_Anniversary/bin/Debug/InteractiveProviderInterfaces.dll
BASIC_Anniversary/bin/Debug/InteractiveProviderInterfaces.pdb
BASIC_Anniversary/bin/Debug/InteractiveProviderInterfaces.xml
BASIC_Anniversary/obj/Debug/BASIC_Anniversary.dll
BASIC_Anniversary/obj/Debug/BASIC_Anniversary.fsproj.FileListAbsolute.txt
BASIC_Anniversary/obj/Debug/BASIC_Anniversary.fsprojResolveAssemblyReference.cache
BASIC_Anniversary/obj/Debug/BASIC_Anniversary.pdb
InteractiveProvider/bin/Debug/FSharp.Core.dll
InteractiveProvider/bin/Debug/FSharp.Core.xml
InteractiveProvider/bin/Debug/InteractiveProvider.XML
InteractiveProvider/bin/Debug/InteractiveProvider.dll
InteractiveProvider/bin/Debug/InteractiveProvider.pdb
InteractiveProvider/bin/Debug/InteractiveProviderInterfaces.dll
InteractiveProvider/bin/Debug/InteractiveProviderInterfaces.pdb
InteractiveProvider/bin/Debug/InteractiveProviderInterfaces.xml
InteractiveProvider/obj/Debug/InteractiveProvider.dll
InteractiveProvider/obj/Debug/InteractiveProvider.fsproj.FileListAbsolute.txt
InteractiveProvider/obj/Debug/InteractiveProvider.fsprojResolveAssemblyReference.cache
InteractiveProvider/obj/Debug/InteractiveProvider.pdb
InteractiveProviderInterfaces/bin/Debug/FSharp.Core.dll
InteractiveProviderInterfaces/bin/Debug/FSharp.Core.xml
InteractiveProviderInterfaces/bin/Debug/InteractiveProviderInterfaces.XML
InteractiveProviderInterfaces/bin/Debug/InteractiveProviderInterfaces.dll
InteractiveProviderInterfaces/bin/Debug/InteractiveProviderInterfaces.pdb
InteractiveProviderInterfaces/obj/Debug/InteractiveProviderInterfaces.dll
InteractiveProviderInterfaces/obj/Debug/InteractiveProviderInterfaces.fsproj.FileListAbsolute.txt
InteractiveProviderInterfaces/obj/Debug/InteractiveProviderInterfaces.pdb
InteractiveProvider.v12.suo
